@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="clearfix">
    <h1 class="field-validation-error">Error</h1>
</div>
<div class="container">
    <div class="alert alert-warning">
        Forbidden: You don't have permission to access this page or resource. If you believe that this is a mistake, please contact the system administrator.
    </div>
    @*@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
        {
            <div>
                <p>
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>
                <div style="overflow: scroll">
                    <pre>
    @Model.Exception.StackTrace
                    </pre>
                </div>
            </div>
        }*@
</div>