@model HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error - Bad Request";
}
<div class="clearfix">
    <h1 class="field-validation-error">Error - Bad Request</h1>
</div>
<div class="container">
    <div class="alert alert-warning">
        We are sorry, the page or resource you requested cannot be found. The URL may be misspelled or the page you're looking for is no longer available.. If you believe that this is a mistake, please contact the system administrator.
    </div>
    @*@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow: scroll">
                <pre>
@Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }*@
</div>